.title {
  padding: 20px;
  text-align: center;
}

.formSubmit {
  padding: 20px;
}

.inputPrice {
  width: 50%;
  display: block;
  text-align: center;
  margin: 20px auto;
  padding: 10px 15px;
  font-size: x-large;
  border-radius: 4px;
  outline: none;
}

/* Reset */
.submitPrice {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
}

/* Custom */
.submitPrice {
  display: block;
  position: relative;
  margin: 20px auto;
  padding: 10px 15px;
  top: 0;
  font-size: large;
  font-family: "Open Sans", Helvetica;
  border-radius: 4px;
  border-bottom: 1px solid rgba(28, 227, 125, 0.5);
  background: black;
  color: #fff;
  box-shadow: 0px 0px 0px rgba(15, 165, 60, 0.1);

  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);

  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.submitPrice:hover {
  top: -10px;
  box-shadow: 0px 10px 10px rgba(15, 165, 60, 0.2);

  -webkit-transform: rotateX(20deg);
  -moz-transform: rotateX(20deg);
  -ms-transform: rotateX(20deg);
  transform: rotateX(20deg);
}

.submitPrice:active {
  top: 0px;
  box-shadow: 0px 0px 0px rgba(15, 165, 60, 0.0);
  background: rgba(20, 224, 133, 1);
}

.messageView {
  text-align: center;
  display: block;
  margin: 20px 0;
  font-size: x-large;
}